$dark: #000000;
$darkBlue: #14213d;
$orange: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

// brakepoint
@media (min-width: 880px) {
  // Styles Run Here
}

$brakepoints-up: (
  "small": "480px",
  "medium": "880px",
);

$brakepoints-down: (
  "small": "479px",
  "medium": "879px",
);

@mixin brakepoints-up($size) {
  @media (min-width: map-get($brakepoints-up, $size)) {
    @content;
  }
}

@mixin brakepoints-down($size) {
  @media (max-width: map-get($brakepoints-down, $size)) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h2 {
  color: $darkBlue;
  margin-bottom: 20px;
  font-size: 38px;
  line-height: 1.1;

  @include brakepoints-down(small) {
    font-size: 28px;
  }
}

.container {
  background: $darkBlue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;

  @include brakepoints-down(medium) {
    grid-template-columns: 1fr;
  }
}

.case-input {
  background-image: url("../../image/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  @include brakepoints-down(small) {
    padding: 40px;
  }
}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #14213d8a;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.case-form {
  background: $platinum;
  padding: 30px;
  z-index: 1;
}

#textarea {
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  min-height: 200px;

  &:focus {
    outline: 1px dotted $darkBlue;
  }
}

.cnvt-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  @include brakepoints-down(small) {
    grid-template-columns: 1fr 1fr;
  }
}

.cnvt-btn button {
  cursor: pointer;
  border: none;
  background: $darkBlue;
  color: $white;
  padding: 8px 10px;
  font-size: 14px;

  &:hover {
    background: $dark;
  }
}

.case-output {
  background-image: url("../../image/pattern.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  padding: 40px;
  height: 100vh;
  overflow: scroll;
  z-index: 1;
}

.capitalize {
  text-transform: capitalize;
}
